/* Navigation */


.site-logo{
    width: 6%;
    margin-left: 20px;
    border-radius: 70px;
 }
 nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    font-size: 30px;
   
 }
.navbartexto a{
    color: white;
    padding: 30px;
}
 
 nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
 }
 
 
 .main-nav li,
 .user li {
    margin: 0 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
   
 }
 
 @media (max-width: 420px) {
   nav {
       flex-wrap: wrap;
       justify-content: center;
       font-size: 22px;
   }

   nav ul {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
   }

   .navbartexto a {
       padding: 15px;
       font-size: 11px;
   }

   .main-nav li,
   .user li {
       margin: 10px;
       text-align: center;
   }
}