/* Resets */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
  }
  
.h2-home {
    font-size: 2rem;
    font-weight: semi-bold;
    color: #3e3b3b;
    margin-bottom: 0.75rem;
    text-align: center;  
  }

  .p-home {
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 1.2rem;
    color: #444;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    border-radius: 8px;
    transition: background-color 0.1s ease, color 0.1s ease;
    width: fit-content; 
  }
  
  .p-home:hover {
    background-color: #444;
    color: #fff;
    cursor: pointer;
  }
  
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: Nunito;
    margin: 0;
    background-color: grey;
}

/* footer */
footer {
    background-color: #dedede;
    text-align: center;
    padding: 40px 0;
    color: #666;
    width: 100%;
}
