/* Resets */
*{
    box-sizing: border-box;
}
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: Nunito;
    margin: 0;
    background-color: grey;
}

.personaje-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 2px solid #ddd;
    border-radius: 12px;
    background-color: #fafafa;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    margin: auto;
}

/* footer */
footer {
    background-color: #dedede;
    text-align: center;
    padding: 40px 0;
    color: #666;
    width: 100%;
}
