.gif-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.gif-div img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.gif-div p {
    font-size: 18px;
    color: #555;
    animation: blink 1.5s infinite;
}
